.register_container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
  background-color: #1f1f1f;
  min-width: 350px;
  width: 30%;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  display: flex;
  flex-direction:row;
  align-items: center;
}

.input_field{
  height:40px;
  width:260px;
  margin:.5cm;
  font-size: medium;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.submit_panel{
  display: flex;
  flex-direction:column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.submit{
  margin-left: 30%;
  margin-right: 30%;
  cursor: pointer;
  font-size: large;
  color: #F5F5F5;
  border-radius: 10px;
  border: none;
  background-color: #272E20;
  height:50px;
}

.submit:hover {
  background-color: #3E5A20;
}

.header{
  font: 4em sans-serif;
  color: white;
  margin: .5cm;
}

.img_icon{
  width:40px;
  margin:.1cm;
  padding: .2cm;
  background-color: #F5F5F5;
  border: none;
  border-radius:360px;
  text-align:center; 
}
